body {
    height: 100vh;
    margin:0;
    padding: 0;
    overflow: hidden;
    font-family: consolas, serif;
    background: rgb(230, 240, 255);
}
body>*{
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#nag {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #cce0ff;
}
#parametry{
    background: rgb(230, 240, 255);
}
#pTrasa {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#pTrasa .punkt_trasy{
    width: calc(100% - 10px);
    margin: 2px 0;
}
#pTrasa button {
    margin: 2px;
    font-size: 15px;
}
#wykres {
    width: 100%;
    height: 600px;
}

/*
    INNE STRONY
 */
.form_strona{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 4px;
    /*box-shadow: 5px 5px 10px black;*/
    padding: 50px;
    background: #cce0ff;
}
.form_strona>*{
    margin: 2px;
    width: 100%;

}
.form_strona>input[type="text"],
.form_strona>input[type="password"]{
    background: rgb(230, 240, 255);
}
.form_strona>input[type="submit"]{
    width: 60px;
}
.main_strona {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 95%;

}
.main_strona table {
    border: 1px solid black;
    border-collapse: collapse;
}
.main_strona td, .main_strona th{
    margin: 3px;
}
.main_strona .aUsun {
    color: red;
}
.main-link {
    display: block;
    margin: 5px;
    border: 2px solid black;
    padding: 5px;
    width: 350px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.54);
    background: #cce0ff;
    color: black;
}
/*
    DOSTOSOWANIE STRONY
 */
@media screen and (min-width: 600px) {
    #nag {
        padding: 5px;
        font-size: 20px;
    }
    #map{
        height: 95%;
        width: calc(100% - 300px);
        float:right;
    }
    #parametry{
        height: 95%;
        width: 300px;
    }
}
@media screen and (max-width: 599px) {
    #nag {
        padding: 5px;
        font-size: 20px;
    }
    #map{
        height: 65%;
        
    }
    #parametry{
        height: 30%;
        overflow: scroll;
    }
}